$primary-color-extra-dark: #28104e;
$primary-color-dark: #6237a0;
$primary-color-medium: #9754cb;
$primary-color-light: #f5f0f8a3;
$text-color: rgba(0, 0, 0, 0.78);
$link-color: #007bff;
$gray-light: #f8f9fa;
$gray-medium: #f8f9fa;
$gray-dark: #343a40;
$red-light: #ffe3e3;
$red-dark: #c92a2a;
$blue-light: #555759;
$blue-dark: #1862ab;
$green-light: #d4edda;
$green-dark: #087f5b;
$yellow-light: #fff9db;
$yellow-dark: #f08c00;
$orange-light: #fff4e6;
$orange-dark: #e8590c;
$purple-light: #f3e8ff;
$purple-dark: #581c87;
$pink-light: #ffe3eb;
$pink-dark: #c92a66;
$white: #fff;
$black: #000